#form-login {
    display:inline;
    margin-left:50%;
    padding:0px;
}
div a {
     text-decoration:none;
     color:#0099FF;
     border-bottom-color:#666666;
     border-bottom-style:hidden;
     font-size:14px;
}

form{
    margin: auto;
    background: #1c7430;
}
div .menu:hover{
    border-bottom-style:dotted;
}
p{
    background: crimson;
}
label{
    background: blue;
    width: 100px;
}
.menu{
    color:#FFFFFF; font-weight:600; margin:3px; padding:3px;
}
#signin{
    background: #FF0000;
    height: 30px;
    width: 150px;
}
.booktable{
    background: #0099FF;
    margin: auto;
    width: 1200px;
}
.right{
    margin-top: 0px;
    float: right;
}
.center{
    width: 250px;
    height: 30px;
    margin: 0 auto;
}
.centergc{
    width: 450px;
    height: 30px;
    margin: 0 auto;
}
.centeraddbook{
    width: 350px;
    height: 30px;
    margin: 0 auto;
}
.bookavatar{
    float: left;
    display: inline;
    width: 256px;
    height: 256px;
    margin-left: 27%;
}
.orderformcenter{
    width: 300px;
    height: 50px;
    margin: 0 auto;
}
.bookinfo{
    background: blue;
    margin-left: 45%;
    width: 600px;
    height: 300px;
}
.tableCenter{
    width: 750px;
    margin: 0 auto;
}
.submitcenter{
    width: 90px;
    height: 30px;
    margin-left: 45%;
}
